<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="managerThreadName" value="Manager"/>
  </appSettings>

  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="PoolLog.txt" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="1000KB" />
      <staticLogFileName value="true" />
      
      <datePattern value="yyyy.MM.dd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date	%level %class{1} Thread=%thread&#9;%message%newline"       />
      </layout>
    </appender>
  </log4net>
  
</configuration>